* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: rgb(41, 38, 38);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  #myCanvas {
    border: 5px solid blueviolet;
  }
  p {
    color: white;
    font-size: 1.4rem;
  }
  button {
    padding: 0.3rem 0.6rem;
    font-size: 1.2rem;
    background-color: rgb(154, 154, 250);
    cursor: pointer;
    &:hover {
      background-color: lighten(rgb(154, 154, 250), 10%);
    }
  }
}
